___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

![Image_Assignment](https://i.ibb.co/nQ2zxnP/Timed-Sensitive.png)
## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>
## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Time Sensitive Interview Task)</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">CONTENT</p>


* [CONTEXT](#0)
* [ABOUT THE DATASET & ATRIBUTES](#00)
* [INSTRUCTIONS (Tasks in the Assignment)](#000)
* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#1)
* [Task 01. How many rows in the sales dataset?](#2)
* [Task 02: How many columns in the sales dataset?](#3)
* [Task 03:  What is the total number of sellers?](#4)
* [Task 04. What is the total value of sales in EUR?](#5) 
* [Task 05. Which brand has the highest number of purchases during the period?](#6)
* [Task 06. How many items in the “Jewellery” category have no brand associated with them?](#7)
* [Task 07. How many brands have between 35 and 55 transactions (inclusive)?](#8)
* [Task 08. How many pairs of shoes were purchased by Australian (AU) buyers?](#9)
* [Task 09. Which brand has the highest average transaction value?](#10)
* [Task 10. What is the total value of items purchased by GB buyers from GB sellers?](#11) 
* [Task 11. What percentage of US sellers' transactions were purchased by US buyers?](#12)
* [THE END OF THE TIME SENSITIVE INTERVIEW TASK](#13)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">ABOUT THE DATASET & ATRIBUTES</p>

<a id="00"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

This E-commerce dataset is about the purchases of the customers for 1 year in UK. It demonstrates the customer's online buying habits.

**Attribute Information about "sales_082020" dataset:**

**``buyer_id:``** The distinguishing sequence of numbers or numbers and letters assigned by the department to a cardholder and appearing on that cardholder’s buyer identification card.<br>
**``buyer_country:``**  The country in which the Buyer’s Facilities are located.<br>
**``seller_id:``** A unique alphanumeric code assigned by FPX Operator to identify the Seller.<br>
**``seller_country:``** The country in which the Seller’s Facilities are located.<br>
**``product_code:``** A unique identifier, assigned to each finished/manufactured product which is ready, to be marketed or for sale.<br>
**``category:``** The particular group of related products.<br>
**``brand:``** A type of product manufactured by a particular company under a particular name.<br>
**``currency:``** The money in circulation in the given country.<br>
**``price:``** The price of each product which were sold at a given date.<br>
**``date:``** Invoice Date, the day when each transaction was generated at a given date.<br>


**Attribute Information about "currency_rates_082020_EUR" dataset:**

**``currency:``** The money in circulation in the given country.<br>
**``date:``** The currency exchange date, the day when each exchange transaction was generated.<br>
**``rate:``** The currency exchange rate when each transaction was generated at a given date.<br>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">INSTRUCTIONS (Tasks in the Assignment)</p>

<a id="000"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**In this Time Sensetive Task you're required to handle with the following tasks:** 

- **Task 01.** How many rows in the sales dataset?<br>
- **Task 02.** How many columns in the sales dataset?<br>
- **Task 03.** What is the total number of sellers?<br>
- **Task 04.** What is the total value of sales in EUR?<br>
- **Task 05.** Which brand has the highest number of purchases during the period?<br>
- **Task 06.** How many items in the “Jewellery” category have no brand associated with them?<br>
- **Task 07.** How many brands have between 35 and 55 transactions (inclusive)?<br>
- **Task 08.** How many pairs of shoes were purchased by Australian (AU) buyers?<br>
- **Task 09.** Which brand has the highest average transaction value?<br>
- **Task 10.** What is the total value of items purchased by GB buyers from GB sellers?<br>
- **Task 11.** What percentage of US sellers' transactions were purchased by US buyers?<br>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">IMPORTING LIBRARIES NEEDED IN THIS TASK</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import warnings
warnings.filterwarnings("ignore")

# Set it None to display all rows in the dataframe
pd.set_option('display.max_rows', None)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

In [2]:
# import numpy as np
# import pandas as pd
# from scipy import stats
# import seaborn as sns
# import matplotlib.pyplot as plt
# from pandas.plotting import register_matplotlib_converters
# from pylab import rcParams
# sns.set_style("darkgrid")

# import warnings
# warnings.filterwarnings("ignore")

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">READING & COMBINING THE DATASETS</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [2]:
df_cur = pd.read_csv("currency_rates_082020_EUR.csv")
df_cur.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [4]:
df_sales = pd.read_csv("sales_082020.csv")
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Recognizing & Understanding Data</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

### Try to understand what the data looks like
- Check the head, shape, data-types of the features.
- Check if there are some dublicate rows or not. If there are, then drop them. 
- Check the statistical values of features.
- If needed, rename the columns' names for easy use. 
- Basically check the missing values.

In [5]:
df_sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [6]:
df_cur.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [7]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [8]:
df_cur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [9]:
df_cur.sample(10)

    currency       date        rate
176      MYR   8/7/2020    4.950800
197      HUF   8/8/2020  346.200000
185      TWD   8/6/2020   34.784400
135      MXN   8/6/2020   26.605050
88       SEK   8/9/2020   10.312200
109      ILS  8/10/2020    4.012750
35       AUD   8/6/2020    1.642120
128      THB   8/9/2020   36.819000
78       CHF   8/9/2020    1.075405
130      MXN   8/1/2020   26.239400

In [10]:
df_sales.shape

(237671, 10)

In [11]:
df_cur.shape

(220, 3)

In [12]:
df_sales.duplicated().value_counts()

False    237631
True         40
dtype: int64

In [13]:
df_cur.duplicated().value_counts()

False    220
dtype: int64

In [14]:
df_sales.describe().T

          count       mean        std   min    25%    50%    75%       max
price  237671.0  28.357384  92.895281  0.01  11.27  18.48  31.18  36919.18

In [15]:
df_sales.describe(include= object).T

                 count  unique            top    freq
buyer_id        237671  139700     x0aflhz7fd     218
buyer_country   237671       9             GB  134704
seller_id       237671  114227       pzsiehl0     703
seller_country  237671       9             GB  139203
product_code    237671  226311   fb59ug7bzkz5     177
category        237655      24  Tops - Womens   45450
brand           119330    1134           Nike    9575
currency        237671      22            GBP  139478
date            237671       7     2020-08-08   36541

In [16]:
df_cur.describe().T

,count,mean,std,min,25%,50%,75%,max
rate,220.0,30.112298,73.824351,0.89775,1.619428,5.579,26.241937,346.2725

In [17]:
df_cur.describe(include= object).T

         count unique       top freq
currency   220     22       EUR   10
date       220     10  8/1/2020   22

In [18]:
df_sales.isnull().sum()

buyer_id               0
buyer_country          0
seller_id              0
seller_country         0
product_code           0
category              16
brand             118341
currency               0
price                  0
date                   0
dtype: int64

In [19]:
df_sales.isnull().sum() / df_sales.shape[0] * 100

buyer_id           0.000000
buyer_country      0.000000
seller_id          0.000000
seller_country     0.000000
product_code       0.000000
category           0.006732
brand             49.791939
currency           0.000000
price              0.000000
date               0.000000
dtype: float64

In [20]:
df_cur.isnull().sum()

currency    0
date        0
rate        0
dtype: int64

In [21]:
def df_values(df):
    for col in df:
        print(col)
        print("--"*10)
        print(df[col].value_counts(dropna=False))
        print("--"*20)

In [22]:
df_values(df_cur)

currency
--------------------
EUR    10
GBP    10
CZK    10
HUF    10
TWD    10
MYR    10
SGD    10
NOK    10
JPY    10
MXN    10
THB    10
PLN    10
ILS    10
DKK    10
SEK    10
CHF    10
HKD    10
NZD    10
CAD    10
AUD    10
USD    10
BRL    10
Name: currency, dtype: int64
----------------------------------------
date
--------------------
8/1/2020     22
8/2/2020     22
8/3/2020     22
8/4/2020     22
8/5/2020     22
8/6/2020     22
8/7/2020     22
8/8/2020     22
8/9/2020     22
8/10/2020    22
Name: date, dtype: int64
----------------------------------------
rate
--------------------
1.000000      10
6.411100       3
34.751800      3
4.950800       3
6.134300       2
5.023700       2
36.821000      2
34.738900      2
10.314180      2
36.819000      2
125.375000     1
124.704000     1
124.733500     1
124.781500     1
125.340000     1
124.756100     1
26.377220      1
124.873400     1
124.865000     1
124.735000     1
124.410000     1
10.713900      1
10.725300      1
10.739600      1
10.736700      1
10.622820      1
10.657590      1
10.650070      1
26.392550      1
26.605050      1
26.357850      1
36.621000      1
4.412700       1
4.396930       1
4.401200       1
4.418100       1
4.413205       1
4.413600       1
4.414270       1
4.399960       1
36.705000      1
36.844000      1
26.374850      1
36.906000      1
36.808000      1
36.518000      1
26.239400      1
26.244750      1
26.625950      1
26.751450      1
26.562950      1
10.671000      1
10.645400      1
1.619715       1
10.609200      1
26.123600      1
344.967500     1
346.110000     1
346.160000     1
346.200000     1
346.270000     1
344.872500     1
26.241000      1
26.257050      1
26.275500      1
26.087100      1
1.619680       1
26.325700      1
26.308050      1
26.315300      1
26.314250      1
26.196900      1
6.256600       1
6.250400       1
6.283900       1
6.332400       1
346.272500     1
344.581000     1
344.425000     1
344.059000     1
4.415550       1
1.618670       1
1.621140       1
1.625755       1
1.625940       1
1.618380       1
1.618050       1
1.617520       1
1.612710       1
4.949700       1
4.967500       1
4.961300       1
4.960300       1
4.928100       1
34.456300      1
34.622600      1
34.750000      1
34.784400      1
34.547600      1
4.424015       1
4.012750       1
0.900185       1
1.649130       1
1.646397       1
1.646948       1
1.646306       1
1.640800       1
1.579445       1
1.578570       1
1.575375       1
1.570995       1
1.574900       1
1.581525       1
1.577900       1
1.577800       1
1.577410       1
1.567590       1
1.777575       1
1.775400       1
1.778000       1
1.777740       1
1.786040       1
1.776745       1
1.786125       1
1.642120       1
1.646355       1
4.020850       1
1.652380       1
0.899325       1
0.899350       1
0.902815       1
0.904500       1
0.903835       1
0.902860       1
0.903200       1
0.902780       1
0.897750       1
1.177760       1
1.178035       1
1.176250       1
1.181445       1
1.187255       1
1.187590       1
1.178785       1
1.178700       1
1.178450       1
1.173745       1
1.648971       1
1.648640       1
1.786725       1
1.785000       1
1.780600       1
9.129470       1
10.321500      1
10.312200      1
10.283100      1
7.447400       1
7.448260       1
7.447050       1
7.449055       1
7.450815       1
7.449150       1
7.448150       1
7.448300       1
7.447905       1
7.445250       1
4.024000       1
4.022750       1
4.003150       1
4.017450       1
4.042550       1
4.032250       1
4.020400       1
4.020100       1
10.272170      1
10.301000      1
10.290400      1
1.075795       1
9.131170       1
9.115600       1
9.156815       1
9.201275       1
9.205100       1
9.134575       1
9.137020       1
9.131855       1
9.097595       1
1.076325       1
10.341820      1
1.079215       1
1.078265       1
1.078185       1
1.080625       1
1.075630       1
1.075550       1
1.075405       1
1.074850       1
10.343720      1
6.435100       1
Name: rate, dtype: int64
----------------------------------------

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 01: How many rows in the sales dataset?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [23]:
df_sales.shape

(237671, 10)

In [24]:
df_sales.shape[0]

237671

In [25]:
len(df_sales)

237671

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 02: How many columns in the sales dataset?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [26]:
df_sales.shape[1]

10

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 03:  What is the total number of sellers?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [27]:
df_sales.head(1)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03

In [28]:
df_sales.columns

Index(['buyer_id', 'buyer_country', 'seller_id', 'seller_country',
       'product_code', 'category', 'brand', 'currency', 'price', 'date'],
      dtype='object')

In [29]:
df_sales["seller_id"].nunique()

114227

In [30]:
len(df_sales["seller_id"].unique())

114227

In [31]:
df_sales["currency"].unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 04:  What is the total value of sales in EUR?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [32]:
df_sales1 = df_sales.copy()

In [33]:
df_cur1 = df_cur.copy()

In [34]:
df_sales1.date = pd.to_datetime(df_sales1.date)

In [35]:
df_sales1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 18.1+ MB

In [36]:
df_cur1.date = pd.to_datetime(df_cur1.date)

In [37]:
df_cur1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    datetime64[ns]
 2   rate      220 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.3+ KB

In [38]:
df_new = pd.merge(df_sales1, df_cur1, how="inner", on=["currency", "date"])
df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [39]:
df_new["total"] = df_new.price / df_new["rate"]

df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [40]:
df_new.total.sum()

6471510.822498876

In [41]:
df_new["total"].sum().round()

6471511.0

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 05:  Which brand has the highest number of purchases during the period?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [42]:
df_sales1["brand"].value_counts()

Nike                                   9575
Brandy Melville                        5065
Topshop                                4561
PrettyLittle Thing                     4136
Adidas                                 3905
American Vintage                       3790
Zara                                   3003
Urban Outfitters                       2932
ASOS                                   2154
Vans                                   1998
New Look                               1825
Levi's                                 1769
Oh Polly                               1742
Missguided                             1699
Champion                               1634
Tommy Hilfiger                         1584
Forever 21                             1381
River Island                           1372
Primark                                1353
H&M                                    1343
Polo Ralph Lauren                      1269
Dr. Martens                            1177
Ralph Lauren                           1140
Victoria's Secret                      1135
Converse                               1132
Boohoo                                 1126
Supreme                                1112
Gymshark                                974
Adidas Originals                        896
Calvin Klein                            874
The North Face                          842
Fila                                    800
Apple                                   798
Dickies                                 757
Reebok                                  731
Guess                                   635
American Apparel                        617
Stone Island                            602
Stüssy                                  582
Gucci                                   569
Puma                                    547
Lululemon                               517
American Eagle Outfitters               500
Jordan                                  493
PANDORA                                 493
Harley Davidson                         490
Fred Perry                              451
MAC                                     436
Carhartt                                428
Burberry                                426
Motel                                   426
Lacoste                                 420
PacSun                                  412
Disney                                  411
Louis Vuitton                           402
Hollister Co.                           397
Palace                                  387
Dsquared2                               386
Nasty Gal                               376
Unbranded                               375
Thrasher                                361
Patagonia                               355
Dolls Kill                              336
Kappa                                   334
Free People                             332
Gildan                                  320
Playboy                                 314
Golf Wang                               309
Yeezy                                   306
Miss Selfridge                          295
House of CB                             295
Jack Wills                              292
UNIF                                    286
Kenzo                                   282
Hot Topic                               277
I Saw It First                          275
Vivienne Westwood                       274
Lee                                     274
Michael Kors                            272
Gap                                     264
In The Style                            263
SHEIN                                   261
Fashion Nova                            258
Umbro                                   255
Comme des Garçons                       249
BAPE                                    242
Juicy Couture                           238
Pull&Bear                               237
AllSaints                               233
Topman                                  233
Off-White                               232
Ted Baker                               231
Moschino                                230
Bershka                                 227
Jeffree Star                            222
Ellesse                                 221
Nintendo                                218
Hugo Boss                               215
Prada                                   212
Yves Saint Laurent                      211
Wrangler                                202
Versace                                 199
Balenciaga                              196
New Balance                             196
Carhartt WIP                            194
Ray-Ban                                 190
Anastasia Beverly Hills                 189
Timberland                              189
Nautica                                 185
Fjällräven                              184
Reformation                             183
Under Armour                            182
Moncler                                 180
Dior                                    180
Elsie and Fred                          180
Chanel                                  180
Benefit                                 178
HUF                                     176
Fenty Beauty                            170
Next                                    166
Lazy Oaf                                164
Lucy and Yak                            163
Monki                                   161
BDG                                     160
True Religion                           159
Armani                                  157
& Other Stories                         151
Urban Decay                             147
Too Faced                               147
Fendi                                   146
Morphe                                  145
Alexander McQueen                       143
UNIQLO                                  141
Fruit of the Loom                       140
Polo Sport                              139
Huda Beauty                             137
Quiz                                    137
Marks & Spencer                         137
Old Navy                                136
Billionaire Boys Club                   135
Birkenstock                             131
FTP                                     128
Glossier                                127
Charlotte Tilbury                       127
Valentino                               127
Obey                                    121
Hanes                                   120
CP Company                              120
DKNY                                    117
Coach                                   115
NARS                                    113
Dropdead                                111
Steve Madden                            111
Killstar                                110
Donnay                                  108
Public Desire                           107
Abercrombie & Fitch                     107
Trapstar                                106
I.AM.GIA                                105
Skechers                                105
Napapijri                               103
Liz Claiborne                           103
Santa Cruz                              102
Columbia Sportswear                      99
MissPap                                  97
Mango                                    97
Hera London                              97
Places + Faces                           97
Givenchy                                 96
Target                                   95
Canon                                    94
Christian Dior                           94
Pretty Green                             94
Dolce & Gabbana                          93
Ann Summers                              92
Hard Rock Cafe                           92
Christian Louboutin                      92
Starter                                  90
Dorothy Perkins                          88
Emporio Armani                           88
Marc Jacobs                              84
Madewell                                 83
Bath & Body Works                        83
Diesel                                   83
Superdry                                 83
Fujifilm                                 81
Revolution                               80
Beats by Dre                             79
Kate Spade New York                      78
ASICS                                    78
ZAFUL                                    77
NICCE                                    77
Maniere De Voir                          77
The Body Shop                            76
Colourpop                                76
COS                                      75
The Ragged Priest                        75
O-MIGHTY                                 74
RIPNDIP                                  72
L.L.Bean                                 72
The Couture Club                         72
Zumiez                                   72
Looney Tunes                             72
Estée Lauder                             71
Sanrio                                   69
Kat Von D                                68
Lush Ltd.                                68
Berghaus                                 68
Charlotte Russe                          66
French Connection                        66
Jaded London                             66
Express                                  66
Lipsy                                    65
Stradivarius                             65
Kylie Cosmetics                          65
NASCAR                                   64
Club L                                   64
Sony                                     63
Fucking Awesome                          63
Cath Kidston                             62
Polaroid                                 62
Warehouse                                62
Eastpak                                  62
Anti Social Social Club                  61
Reiss                                    61
Tarte                                    60
Réalisation Par                          60
Sephora                                  60
Hunter                                   58
Billabong                                58
Olympus                                  58
Superga                                  57
Acne Studios                             57
Lyle & Scott                             57
Kangol                                   57
Clarks                                   57
Tiffany & Co.                            56
Kurt Geiger                              56
Russell Athletic                         56
George                                   55
Missy Empire                             55
Cotton On                                53
liquid blue                              52
Oasis                                    52
Moda Minx                                52
Marlboro                                 52
EGO                                      51
Office                                   51
Kickers                                  50
UGG                                      50
Anthropologie                            50
Chaps                                    50
Real Techniques                          50
Patta                                    49
Bebe                                     49
Clinique                                 49
Eddie Bauer                              48
Vlone                                    48
Whistles                                 48
Slazenger                                48
Demonia                                  48
Paul Smith                               48
Boux Avenue                              47
Herschel Supply Co.                      46
Pink Boutique                            46
J.Crew                                   46
Fabletics                                46
F&F                                      46
LF                                       45
Banana Republic                          44
Barbour                                  44
Garage                                   44
Travis Scott                             44
Jerzees                                  44
Kaws                                     44
ARE YOU AM I                             43
SIKSILK                                  43
Rat & Boa                                43
Skinnydip                                43
Odd Future                               43
Gym King                                 43
Jeffrey Campbell                         43
Weekday                                  43
Tripp NYC                                42
Select Fashion                           42
NYX                                      42
BaByliss                                 42
Laura Mercier                            42
Faded Glory                              42
Longchamp                                41
Buffalo London                           41
Polar Skate Co                           41
Karen Millen                             41
Gosha Rubchinskiy                        41
Mossimo                                  41
New Era                                  40
Dead Bored Club                          40
L'Oréal                                  40
Vineyard Vines                           39
Betsey Johnson                           39
Sergio Tacchini                          39
Dune                                     39
Paul & Shark                             38
For Love & Lemons                        37
Tillys                                   37
Nordstrom                                37
BOSS                                     37
The Hundreds                             37
Helly Hansen                             36
Joules                                   36
Maharishi                                36
Arizona                                  36
Jansport                                 35
Mario Badescu                            35
Bobbi Brown                              35
Xhilaration                              35
Morgan De Toi                            35
Mulberry                                 35
Chi Chi London                           35
ghd                                      35
TOM FORD                                 34
Matalan                                  34
TOMS                                     34
Nine West                                34
Maybelline                               34
Lime Crime                               33
No Boundaries                            33
Rue 21                                   33
ELLE                                     33
Lavish Alice                             33
Swarovski                                33
11 Degrees                               33
Cheap Monday                             32
Aquascutum                               32
Missoni                                  32
Lancôme                                  32
Coca-Cola                                32
United Colors of Benetton                32
Monsoon                                  32
Soap and Glory                           32
Mitchell & Ness                          32
Diamond Supply Co.                       32
Marvel                                   32
Alexander Wang                           32
ALDO                                     31
Papaya                                   31
Acacia Swimwear                          31
GANT                                     31
Canada Goose                             31
Von Dutch                                31
Le Coq Sportif                           30
Evisu                                    30
Ariana Grande                            30
KENDALL + KYLIE                          30
Farah                                    30
Tory Burch                               29
Canterbury                               29
Lucky Brand                              29
Glamorous                                29
Giorgio Armani                           29
Warner Bros.                             28
Nikon                                    28
BECCA                                    28
Volcom                                   28
bareMinerals                             28
Ed Hardy                                 28
AX Paris                                 27
Mudd Clothing                            27
Independent                              27
EA7                                      27
Thomas Sabo                              27
Samsung                                  27
Delia's                                  26
Jo Malone                                26
Element                                  26
Pleasures                                26
ALEX AND ANI                             26
Young Versace                            26
Balmain                                  26
Agent Provocateur                        25
Illustrated People                       25
Kiehl's                                  25
Accessorize                              25
Life is Good                             25
Daisy Street                             25
Debenhams                                25
Fear of God                              25
Quiksilver                               24
BONGO                                    24
Giuseppe Zanotti                         24
Aéropostale                              24
Pentax                                   24
Gilly Hicks                              24
Norse Projects                           23
Tiger Mist                               23
Havaianas                                23
Coast                                    23
Rimmel                                   23
St. John's Bay                           23
Stila Cosmetics                          23
Talbots                                  23
Céline                                   23
Rampage                                  23
Salvatore Ferragamo                      22
Raf Simons                               22
FatFace                                  22
Minolta                                  22
Peacocks                                 22
No. 7                                    22
Smashbox                                 22
Vagabond                                 22
Fiorelli                                 21
Palm Angels                              21
Jordache                                 21
Y-3                                      21
Octobers Very Own                        21
Aritzia                                  21
Fossil                                   21
Teva                                     21
Brandy melville                          20
Bill Blass                               20
Primitive                                20
T.U.K.                                   20
Pendleton                                20
Aerie                                    20
Ann Taylor                               20
Lomography                               20
Frederick's of Hollywood                 20
Jimmy Choo                               20
Romwe                                    20
Triangl                                  20
Laura Ashley                             20
Diadora                                  20
Chase Authentics                         20
Iron Fist                                19
Crocs                                    19
Kodak                                    19
Wallis                                   19
Revenge                                  19
YRU                                      19
Mickey & Co.                             19
ModCloth                                 19
Carvela                                  19
Everlane                                 19
Clarins                                  19
BlackMilk                                19
IT Cosmetics                             18
Vetements                                18
3sixteen                                 18
Casio                                    18
Stella McCartney                         18
Basic Editions                           18
Planet Hollywood                         18
RVCA                                     17

In [43]:
df_sales1.brand.value_counts().head(1)

Nike    9575
Name: brand, dtype: int64

In [ ]:
df_new[df_new["brand"] == "Nike"]

In [45]:
df_new[df_new["brand"] == "Nike"].total.sum().round()

385022.0

In [46]:
df_new.groupby("brand").total.sum().sort_values(ascending=False)

brand
Nike                                   385022.414067
Adidas                                 114211.542782
American Vintage                        89939.908652
Brandy Melville                         87735.664806
Dr. Martens                             81491.623673
Topshop                                 75301.088899
Supreme                                 71333.567028
Gucci                                   71307.805103
Apple                                   66027.668570
Zara                                    61521.579716
Louis Vuitton                           60470.993161
Stone Island                            58276.682939
PrettyLittle Thing                      57175.233238
Vans                                    57061.367194
Levi's                                  55021.271880
Yeezy                                   54843.811540
Urban Outfitters                        54649.438172
Oh Polly                                51449.151277
Tommy Hilfiger                          45534.656955
Jordan                                  42591.159943
Champion                                40908.705287
ASOS                                    39834.198056
Converse                                37944.393591
Balenciaga                              35972.220346
Polo Ralph Lauren                       31559.005128
Burberry                                30952.168854
The North Face                          30445.299818
Ralph Lauren                            30255.989641
Adidas Originals                        28280.907468
Missguided                              26592.755230
Off-White                               26325.799933
Prada                                   26019.570694
Gymshark                                25801.907228
Palace                                  25639.862789
Guess                                   24808.607627
Dsquared2                               24483.904082
Fila                                    23545.010968
River Island                            22139.036379
BAPE                                    20948.664526
Victoria's Secret                       20687.309328
New Look                                20594.750586
Dickies                                 20555.836150
Reebok                                  19932.065113
Alexander McQueen                       19394.941666
Moncler                                 19328.977604
Calvin Klein                            19257.233345
Stüssy                                  18975.742108
House of CB                             18705.892116
Chanel                                  18582.251900
Comme des Garçons                       18338.973271
Golf Wang                               18256.541615
Forever 21                              17624.241728
Christian Louboutin                     17387.332188
H&M                                     17246.305255
Valentino                               17239.769134
Dior                                    17079.637584
Kenzo                                   15966.358495
Lululemon                               15796.301565
Fendi                                   15466.824119
Vivienne Westwood                       15174.535497
Puma                                    14677.509582
Versace                                 14018.831008
Yves Saint Laurent                      13844.107125
Boohoo                                  13467.065874
UNIF                                    13362.786668
Carhartt                                12896.842128
Michael Kors                            12720.787874
Harley Davidson                         12410.281025
Moschino                                12306.457378
Patagonia                               11956.955777
American Apparel                        11941.424354
Primark                                 11921.005154
Fred Perry                              11302.883124
CP Company                              11047.702158
Lacoste                                 10921.929722
PANDORA                                 10902.775558
Reformation                             10763.886503
Dolls Kill                              10517.192634
Givenchy                                10385.556816
Ray-Ban                                  9780.175766
Christian Dior                           9623.290820
Motel                                    9475.366185
Kappa                                    9248.563481
Nintendo                                 8793.782495
Thrasher                                 8762.300266
Fjällräven                               8599.898616
Disney                                   8597.045856
American Eagle Outfitters                8468.796230
Free People                              8345.751427
Lazy Oaf                                 8088.208161
Playboy                                  7552.235872
FTP                                      7313.708400
Canon                                    7249.726577
Lee                                      7185.048424
Ted Baker                                7160.617707
PacSun                                   7095.544197
AllSaints                                6825.452459
Timberland                               6748.588092
Beats by Dre                             6746.451436
Umbro                                    6595.876283
Juicy Couture                            6561.352941
Canada Goose                             6498.934485
Carhartt WIP                             6425.516237
Unbranded                                6205.319338
Vlone                                    6117.905582
MAC                                      6077.313940
True Religion                            5985.880977
Réalisation Par                          5978.607962
New Balance                              5968.606275
Acne Studios                             5826.130573
Polo Sport                               5795.929825
Nasty Gal                                5696.685772
Gildan                                   5683.964480
Hugo Boss                                5623.580956
Armani                                   5532.038096
Lucy and Yak                             5482.378063
Elsie and Fred                           5481.730141
Wrangler                                 5420.920166
Places + Faces                           5375.882393
Billionaire Boys Club                    5373.068363
Gap                                      5363.439480
Hollister Co.                            5295.228876
I.AM.GIA                                 5231.551456
Birkenstock                              5141.447332
& Other Stories                          5002.067506
Fashion Nova                             4933.432313
Coach                                    4910.600298
Dropdead                                 4722.988281
Jeffree Star                             4627.907096
Napapijri                                4627.431063
In The Style                             4550.815224
Sony                                     4504.107385
Trapstar                                 4499.130250
Nautica                                  4437.531475
Dolce & Gabbana                          4276.181354
Tiffany & Co.                            4248.757617
Jack Wills                               4227.641530
Giuseppe Zanotti                         4197.334332
Olympus                                  4140.667473
Hot Topic                                4104.768681
Miss Selfridge                           3999.758800
Buffalo London                           3965.074067
I Saw It First                           3907.621219
Skechers                                 3838.227593
Steve Madden                             3606.589315
Anastasia Beverly Hills                  3582.331068
Bershka                                  3580.223736
Travis Scott                             3572.501861
Kate Spade New York                      3558.831697
Topman                                   3405.085770
BDG                                      3394.089790
Ellesse                                  3388.827646
HUF                                      3380.861071
DKNY                                     3376.246570
Emporio Armani                           3322.702052
Rat & Boa                                3264.932009
Pull&Bear                                3214.334083
Anti Social Social Club                  3195.945701
Next                                     3160.055101
Raf Simons                               3101.829090
Céline                                   3052.149116
Marc Jacobs                              3025.649043
Fenty Beauty                             3002.016542
Maharishi                                2979.690980
ARE YOU AM I                             2967.805375
Charlotte Tilbury                        2955.359733
For Love & Lemons                        2930.229389
Starter                                  2916.514706
SHEIN                                    2900.519983
Under Armour                             2875.041221
UNIQLO                                   2828.567838
Killstar                                 2773.572143
Fujifilm                                 2699.069663
Monki                                    2694.382700
Hunter                                   2672.715893
Demonia                                  2670.633652
Mulberry                                 2658.074474
Palm Angels                              2618.175797
Fucking Awesome                          2606.543176
Patta                                    2582.714826
Huda Beauty                              2522.825892
Obey                                     2501.999842
Morphe                                   2481.578112
Fruit of the Loom                        2476.838932
Glossier                                 2457.911032
Polaroid                                 2451.431225
Too Faced                                2419.106561
Quiz                                     2379.038075
Missoni                                  2363.059874
ASICS                                    2359.884632
Gosha Rubchinskiy                        2352.606200
Urban Decay                              2349.610229
Columbia Sportswear                      2344.363724
Public Desire                            2342.522119
Alexander Wang                           2331.467553
Madewell                                 2330.551765
Benefit                                  2286.940253
Jeffrey Campbell                         2272.979492
UGG                                      2227.455866
Jean-Paul Gaultier                       2221.376433
Hanes                                    2201.796328
Marks & Spencer                          2198.683305
Liz Claiborne                            2192.290165
Berghaus                                 2181.670380
ghd                                      2176.627324
Vetements                                2129.778355
Diesel                                   2126.622197
Maniere De Voir                          2122.008860
Jaded London                             2113.137681
liquid blue                              2023.866240
Nikon                                    2020.767091
Hera London                              2016.922485
Revenge                                  1919.599008
Old Navy                                 1903.962358
O-MIGHTY                                 1900.149685
Saint Laurent Paris                      1899.208201
Pretty Green                             1895.983034
Balmain                                  1888.404525
Superga                                  1883.203533
Longchamp                                1865.000031
COS                                      1861.985563
Maison Margiela                          1856.944352
The Ragged Priest                        1852.007332
Santa Cruz                               1844.465814
Fear of God                              1824.063684
Mango                                    1813.048496
Whistles                                 1808.564852
NARS                                     1801.538421
Hard Rock Cafe                           1765.772232
Aquascutum                               1744.612372
TOM FORD                                 1739.724065
Tory Burch                               1732.415315
Lanvin                                   1731.542077
RIPNDIP                                  1703.229609
Marlboro                                 1688.026377
Lipsy                                    1686.664015
Reiss                                    1663.930262
Samsung                                  1655.621009
L.L.Bean                                 1655.010231
The Couture Club                         1640.033933
Clarks                                   1621.348534
Kangol                                   1601.946539
Barbour                                  1597.268572
Abercrombie & Fitch                      1579.692468
Cav Empt                                 1571.717784
Kickers                                  1554.356349
Moda Minx                                1526.898368
Estée Lauder                             1511.880150
Agent Provocateur                        1507.863844
Kurt Geiger                              1475.244387
Eastpak                                  1474.788949
Club L                                   1470.800671
Looney Tunes                             1463.241564
Tripp NYC                                1461.934523
Herschel Supply Co.                      1426.656759
Lavish Alice                             1412.612861
Superdry                                 1400.929535
MCM                                      1389.030507
Evisu                                    1373.045690
Alyx                                     1370.567325
Octobers Very Own                        1366.010687
Chi Chi London                           1355.441204
LF                                       1349.578371
French Connection                        1349.112039
NASCAR                                   1347.296852
MissPap                                  1336.540096
Rick Owens                               1330.881050
NICCE                                    1330.460098
Helmut Lang                              1313.557099
Target                                   1300.653612
Gunne Sax                                1297.193864
Kaws                                     1293.211186
Paul Smith                               1291.018222
Jimmy Choo                               1286.896367
Chaps                                    1284.998539
Minolta                                  1269.287695
Polar Skate Co                           1259.591781
Donnay                                   1256.038742
Stella McCartney                         1251.657151
Sanrio                                   1243.642041
YRU                                      1240.746246
Sephora                                  1232.799826
Kylie Cosmetics                          1231.075747
The Dolls House                          1226.016354
Acacia Swimwear                          1219.854503
Paul & Shark                             1213.385902
Zumiez                                   1212.604812
Ann Summers                              1187.025533
Bebe                                     1171.185222
Express                                  1166.612680
Office                                   1162.402302
Billabong                                1154.546930
Mitchell & Ness                          1145.721017
Dorothy Perkins                          1137.570905
Karen Millen                             1136.683879
ZAFUL                                    1129.117792
Coogi                                    1123.890099
Hermes                                   1123.483570
TAG Heuer                                1122.933910
Colourpop                                1120.014614
Russell Athletic                         1112.918104
Odd Future                               1092.075367
Warehouse                                1085.481104
Kat Von D                                1078.848136
BOSS                                     1069.282445
Lyle & Scott                             1057.136863
Aspinal of London                        1051.256543
Y-3                                      1051.149172
Anthropologie                            1050.433839
Pentax                                   1045.906157
Betsey Johnson                           1042.315657
EGO                                      1038.020863
Eddie Bauer                              1036.004331
United Colors of Benetton                1019.550698
Goyard                                   1016.780808
Cath Kidston                             1015.609349
Loewe                                    1003.591107
Pleasures                                 994.362722
BlackMilk                                 990.310434
Missy Empire                              990.284310
Rouje                                     987.801850
Von Dutch                                 986.141395
Salvatore Ferragamo                       983.497249
Helly Hansen                              979.243958
Isabel Marant                             973.308963
Bath & Body Works                         963.255250
Lush Ltd.                                 961.203090
Pink Boutique                             960.439949
Common Projects                           947.967375
Sergio Tacchini                           947.025684
Tarte                                     943.994422
Bobbi Brown                               924.217019
A-COLD-WALL                               920.712468
Opening Ceremony                          919.598016
Stradivarius                              917.216141
Dune                                      914.728286
Coast                                     904.408939
Neil Barrett                              904.206896
EA7                                       882.781306
Alpha Industries                          881.137450
Jerzees                                   877.222912
Faded Glory                               871.328893
T.U.K.                                    864.287061
Miu Miu                                   861.453742
Weekday                                   860.230040
Jo Malone                                 859.601639
J.Crew                                    854.780521
Veja                                      852.538428
Banana Republic                           850.947169
Morgan De Toi                             845.060148
Noah                                      841.272768
Dead Bored Club                           839.190796
Kith                                      837.497533
BONGO                                     833.750393
Jacquemus                                 824.250170
Jansport                                  822.478987
Slazenger                                 819.104468
Gym King                                  812.614099
Tiger Mist                                811.081727
Charlotte Russe                           802.566085
Vagabond                                  801.257944
Pendleton                                 800.146758
Clinique                                  798.716964
Chloé                                     789.032042
Swarovski                                 788.050545
The Body Shop                             779.585908
JW Anderson                               779.196800
Ed Hardy                                  773.990076
BaByliss                                  771.634041
Sandro                                    769.962299
Yardsale Skateboards                      768.539791
Paloma Wool                               768.155455
Candie's                                  766.142658
Ariana Grande                             761.697864
Everlane                                  758.979114
Oasis                                     756.700853
Represent                                 756.029131

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 06:  How many items in the “Jewellery” category have no brand associated with them?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [47]:
df_sales.category.unique()

array(['Dresses', 'Outerwear', 'Tops - Mens', 'Bottoms - Womens',
       'Tops - Womens', 'Outerwear - Mens', 'Accessories', 'Jewellery',
       'Other', 'Film', 'Art', 'Music', 'Shoes', 'Lingerie',
       'Bottoms - Mens', 'Home', 'Tech', 'Beauty', 'Sports equipment',
       'Kids', 'Transportation', 'Books & magazines', 'Underwear',
       'UNSPECIFIED', nan], dtype=object)

In [48]:
df_sales[(df_sales.category == "Jewellery") & (df_sales.brand.isnull())].product_code.nunique()

10931

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 07:  How many brands have between 35 and 55 transactions (inclusive)?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [49]:
((df_sales.brand.value_counts() > 34) & (df_sales.brand.value_counts() < 56)).sum()

81

In [50]:
(df_sales.groupby('brand')['brand'].count().apply(lambda x: 34 < x < 56)).sum()

81

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 08:  How many pairs of shoes were purchased by Australian (AU) buyers?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [51]:
df_sales.head(3)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07

In [52]:
df_sales.buyer_country.value_counts()

GB     134704
US      82661
AU       7868
IE       4046
RoW      2880
IT       2532
CA       2247
DE        466
FR        267
Name: buyer_country, dtype: int64

In [53]:
df_sales.category.value_counts()

Tops - Womens        45450
Tops - Mens          32611
Bottoms - Womens     30001
Shoes                21764
Accessories          21153
Dresses              19238
Jewellery            14923
Beauty                8746
Other                 6599
Outerwear             6321
Bottoms - Mens        5763
Lingerie              5301
Outerwear - Mens      4156
Tech                  3496
Home                  3477
Music                 2510
Kids                  2135
Art                   1777
Books & magazines     1081
Film                   466
Sports equipment       413
Underwear              177
Transportation          90
UNSPECIFIED              7
Name: category, dtype: int64

In [54]:
df_sales[(df_sales["category"] == "Shoes") & (df_sales["buyer_country"] == "AU")].shape[0]

658

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 09:  Which brand has the highest average transaction value?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [55]:
df_sales.head(3)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07

In [56]:
df_new.groupby("brand")["total"].mean().sort_values(ascending=False).head(1)

brand
Goyard    338.926936
Name: total, dtype: float64

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 10:  What is the total value of items purchased by GB buyers from GB sellers?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [57]:
df_new[(df_new['seller_country']=='GB') & (df_new['buyer_country']=='GB')].total.sum().round()

3526745.0

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Task 11:  What percentage of US sellers' transactions were purchased by US buyers?</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [58]:
a = df_new[(df_new["seller_country"] == "US") & (df_new["buyer_country"] == "US")].total.sum()

In [59]:
b = df_new[df_new["seller_country"] == "US"].total.sum()

In [60]:
# df_new[(df_new['seller_country']=='US') & (df_new['buyer_country']=='US')].total.sum() / df_new[(df_new['seller_country']=='US')].total.sum()

In [61]:
(a / b *100).round(2)

95.97

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">THE END OF THE TIME SENSITIVE INTERVIEW TASK</p>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<a id="17"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>
___